:root {
  --primary-color: black;
  --secondary-color: white;
  --stack-color: grey;
  --stack-after: 0px 5px 0px var(--stack-color);
  --stack-before: 0px -5px 0px var(--stack-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
